- content_for :header do
  %h1 Database Memo

%h2 Data Sources
%ul
  - @data_sources.each do |data_source|
    %li
      = data_source.name
      = link_to "Import", database_memos_path(data_source_id: data_source.id), method: :post

%h2 Databases
%table
  %thead
    %tr
      %th Database
      %th Description
      %th Tables
  %tbody
    - @database_memos.each do |database_memo|
      %tr
        %td
          = link_to database_memo.name, database_memo
        %td
          = database_memo.description.truncate(30)
        %td
          %ul
          - database_memo.table_memos.each do |table_memo|
            %li= table_memo.name
