- content_for :title, "\"#{@search_result.keyword}\" « Search"
- content_for :header do
  .row.mb-2
    .col
      %h1.m-0.text-nowrap "#{@search_result.keyword}" search result
  
  .row.mb-2
    .col
      #{@search_result.tables.total_count} Table hits / #{@search_result.columns.total_count} Column hits

- unless @search_result.tables.present? || @search_result.columns.present?
  .card
    .card-body
      No results found.
- else
  - @search_result.tables.each do |result|
    .card
      .card-header
        %h3.card-title
          %small.badge.badge-success Table
          = link_to highlight(result.full_name, @search_result.keyword), url_for(result)
      .card-body
        = highlight(markdown_html(result.description).html_safe, @search_result.keyword)
  = paginate @search_result.tables, param_name: 'table_page'

  - @search_result.columns.each do |result|
    .card
      .card-header
        %h3.card-title
          %small.badge.badge-info Column
          = link_to highlight(result.full_name, @search_result.keyword), url_for(result)
      .card-body
        = highlight(markdown_html(result.description).html_safe, @search_result.keyword)
  = paginate @search_result.columns, param_name: 'column_page'
