- content_for :title, "#{@data_source.name} « Data Source"
- content_for :header do
  .row.mb-2
    .col
      %h1.m-0.text-nowrap= @data_source.name

    .col
      %ol.breadcrumb.float-sm-right
        %li.breadcrumb-item
          = link_to root_path do
            %i.fas.fa-home
            Home
        %li.breadcrumb-item
          = link_to "Data Sources", data_sources_path
        %li.breadcrumb-item.active
          = @data_source.name

.card
  = render "form"
- if @data_source_schemas
  .card
    = render "schema"
