- content_for :title, "#{@data_source.name} « Data Source"
- content_for :header do
  %h1.page-header= @data_source.name

  %ol.breadcrumb
    %li
      = link_to root_path do
        %i.fa.fa-home
        Home
    %li
      = link_to "Data Sources", data_sources_path
    %li.active
      = @data_source.name

.box
  = render "form"
- if @data_source_schemas
  .box
    = render "schema"
