- content_for :header do
  %h1.page-header Data Sources

  %ol.breadcrumb
    %li
      = link_to root_path do
        %i.fa.fa-home
        Home
    %li.active
      Data Sources

.box
  .box-header.with-border
    = link_to new_data_source_path, class: "btn btn-default pull-right" do
      %i.fa.fa-plus
      New Data Source
  .box-body
    %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
      %tr
        %th Name
        %th Description
        %th Host
        %th Port
        %th Database Name
        %th
      - @data_sources.each do |data_source|
        %tr
          %td
            = data_source.name
          %td
            = data_source.description.truncate(50)
          %td
            = data_source.host
          %td
            = data_source.port
          %td
            = data_source.dbname
          %td
            = link_to edit_data_source_path(data_source) do
              %button.btn.btn-default
                %i.fa.fa-edit
            = link_to data_source_path(data_source), method: :delete, data: { confirm: "Delete data source #{data_source.name}?" } do
              %button.btn.btn-default
                %i.fa.fa-trash
