%tr
  %td
    = column_memo.name
    - unless column_memo.linked?
      %i.fa.fa-exclamation-triangle{ data: { toggle: "tooltip", placement: "bottom", title: t("unlinked_column") } }
      = link_to column_memo, method: :delete, data: { confirm: "Delete column #{column_memo.name}?" } do
        %i.fa.fa-trash
  %td
    - if column_memo.logs.present?
      = link_to column_memo_logs_path(column_memo.id), class: "pull-right colorbox" do
        %i.fa.fa-clock-o
    - if current_user
      = link_to edit_column_memo_path(column_memo), class: "pull-right colorbox" do
        %i.fa.fa-edit
    .column-description
      - if column_memo.description.present?
        = column_memo.description_html
  %td
    = column_memo.sql_type
  %td
    = column_memo.default
  %td
    = column_memo.nullable
