%tr
  %td
    = column_memo.name
    - unless column_memo.linked?
      %i.fas.fa-triangle-exclamation{ data: { toggle: "tooltip", placement: "bottom", title: t("unlinked_column") } }
      = link_to column_memo, method: :delete, data: { confirm: "Delete column #{column_memo.name}?" } do
        %i.fas.fa-trash
  %td
    - if column_memo.logs.present?
      = link_to column_memo_logs_path(column_memo.id), class: "float-right colorbox" do
        %i.far.fa-clock
    = link_to edit_column_memo_path(column_memo), class: "float-right colorbox" do
      %i.fas.fa-pen-to-square
    .column-description
      - if column_memo.description.present?
        = column_memo.description_html
  %td
    = column_memo.sql_type
  %td
    = column_memo.default
  %td
    = column_memo.nullable
