- content_for :header do
  %h1.memo_title
    = link_to table_memo.name, "#",
      id: "name",
      class: "editable-field",
      data: { type: :text, pk: @table_memo.id, url: request.path, value: @table_memo.name }

  - unless table_memo.linked?
    .box.box-warning
      .box-header
        %h4
          %i.fa.fa-warning
          There is no linked source table.
      .box-body
        = link_to "Delete table", [table_memo.database_memo, table_memo],
          method: :delete,
          class: "btn btn-lg btn-danger",
          data: { confirm: "Delete table #{table_memo.name}?" }

  %ul.breadcrumb
    %li
      = link_to root_path do
        %i.fa.fa-home
        Home
    %li
      = link_to table_memo.database_memo.name, table_memo.database_memo
    %li.active
      = table_memo.name
