.card.data-card
  .card-header
    %h3.card-title Data
  .card-body.p-0
    - if @raw_dataset
      .table-responsive
        %table.table.table-hover.table-bordered.table-striped.text-sm{ role: "grid" }
          %thead
            %tr
              - @raw_dataset_columns.each do |column|
                %th #{column.fetch(:data).name} (#{column.fetch(:data).sql_type})
          %tbody
            - if @table_memo.masked?
              %tr
                %td.text-center{ colspan: @raw_dataset_columns.size }
                  = t("masked_table")
            - else
              - database_name = @table_memo.database_memo.name
              - table_name = @table_memo.name
              - @raw_dataset_rows.each do |row|
                %tr
                  - Array.wrap(row).zip(@raw_dataset_columns).each_with_index do |(value, column), i|
                    %td
                      - if column.fetch(:masked)
                        = t("masked_text")
                      - else
                        = value
      .float-right.block
        #{@raw_dataset_rows.try(:size).to_i} / #{@raw_dataset.count || '?' } records
    - else
      = t("no_preview_dataset")
