- content_for :header do
  %h1.memo_title
    %span#name.editable-target= @table_memo.name
    %a.shorten_url_link{ href: "#", data: { target: "#shorten_url", toggle: "tooltip", placement: "bottom", title: "Show shorten url." } }
      %i.fa.fa-link
    = text_field_tag :shorten_url, shorten_url(@table_memo.database_memo, @table_memo), class: "shorten_url input-sm hidden", size: 80

  - unless @table_memo.linked?
    .box.box-warning
      .box-header
        %h4
          %i.fa.fa-warning
          There is no linked source table.
      .box-body
        = link_to "Delete table information", @table_memo,
          method: :delete,
          class: "btn btn-lg btn-danger",
          data: { confirm: "Delete table #{@table_memo.name} information?" }

  %ul.breadcrumb
    %li
      = link_to root_path do
        %i.fa.fa-home
        Home
    %li
      = link_to @table_memo.database_memo.name, @table_memo.database_memo
    %li.active
      = @table_memo.name

.memo_description.box.box-info.with-border
  .box-header.with-border
    %h2.box-title Description
    = link_to_editable @table_memo, target: "#description", result: "description_html", type: :textarea, name: "description", value: @table_memo.description
  .box-body
    #description.editable-target.markdown-block
      - if @table_memo.description.present?
        = @table_memo.description_html
      - else
        = t("no_description")

.nav-tabs-custom
  %ul.nav.nav-tabs
    %li.active
      %a{ href: "#tab_data", data: { toggle: "tab" } } Data
    %li
      %a{ href: "#tab_schema", data: { toggle: "tab" } } Schema
  .tab-content
    #tab_data.tab-pane.active
      - if @table_memo.linked?
        .pull-right.block
          #{@source_table_data.try(:size).to_i} / #{@source_table_count} records
        %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
          %tr
            - @source_column_classes.each do |source_column_class|
              %th #{source_column_class.name} (#{source_column_class.sql_type})

          - if @source_table_data.present?
            - @source_table_data.each do |row|
              %tr
                - Array.wrap(row).each do |value|
                  %td= value
          - else
            %tr
              %td.text-center{ colspan: @source_column_classes.size }
                = t("masked_table")
      - else
        .text-center= t("no_linked_table")

    #tab_schema.tab-pane
      %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
        %tr
          %th Name
          %th Description
          %th Sql Type
          %th Default Value
          %th Nullable
        - @table_memo.column_memos.order(:id).each do |column_memo|
          = render "column_memo", column_memo: column_memo
