- content_for :header do
  %h1.memo_title
    %span#name.editable-target= @table_memo.name
    = link_to_editable @table_memo, target: "#name", type: :text, name: "name", value: @table_memo.name

  - unless @table_memo.linked?
    .box.box-warning
      .box-header
        %h4
          %i.fa.fa-warning
          There is no linked source table.
      .box-body
        = link_to "Delete table", @table_memo,
          method: :delete,
          class: "btn btn-lg btn-danger",
          data: { confirm: "Delete table #{@table_memo.name}?" }

  %ul.breadcrumb
    %li
      = link_to root_path do
        %i.fa.fa-home
        Home
    %li
      = link_to @table_memo.database_memo.name, @table_memo.database_memo
    %li.active
      = @table_memo.name

.memo_description.box.box-info.with-border
  .box-body
    = link_to_editable @table_memo, target: "#description", type: :textarea, name: "description", value: @table_memo.description, class: "pull-right"
    #description.editable-target
      - if @table_memo.description.present?
        = @table_memo.description
      - else
        = t("no_description")

.nav-tabs-custom
  %ul.nav.nav-tabs
    %li.active
      %a{ href: "#tab_data", data: { toggle: "tab" } } Data
    %li
      %a{ href: "#tab_schema", data: { toggle: "tab" } } Schema
  .tab-content
    #tab_data.tab-pane.active
      - if @source_table_data.present?
        .pull-right.block
          #{@source_table_data.size} / #{@source_table_count} records

        %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
          %tr
            - @source_column_classes.each do |source_column_class|
              %th #{source_column_class.name} (#{source_column_class.sql_type})
          - @source_table_data.each do |row|
            %tr
              - Array.wrap(row).each do |value|
                %td= value
      - else
        There is no linked source table.
    #tab_schema.tab-pane
      %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
        %tr
          %th Name
          %th Description
          %th Sql Type
          %th Default Value
          %th Nullable
        - @table_memo.column_memos.order(:id).each do |column_memo|
          %tr
            %td
              = column_memo.name
              - unless column_memo.linked?
                %i.fa.fa-exclamation-triangle{ data: { toggle: "tooltip", placement: "bottom", title: "There is no linked source columns." } }
            %td
              %span.column-description{ data: { column_memo_id: column_memo.id } }
                - if column_memo.description.present?
                  = column_memo.description
                - else
                  = t("no_description")
              = link_to_editable column_memo,
                target: ".column-description[data-column-memo-id=\"#{column_memo.id}\"]",
                type: :text,
                name: "description",
                value: column_memo.description
            %td
              = column_memo.sql_type
            %td
              = column_memo.default
            %td
              = column_memo.nullable
