= render "table_memos/header", table_memo: @table_memo

.memo_description
  = @table_memo.description

.nav-tabs-custom
  %ul.nav.nav-tabs
    %li.active
      %a{ href: "#tab_data", data: { toggle: "tab" } } Data
    %li
      %a{ href: "#tab_schema", data: { toggle: "tab" } } Schema
  .tab-content
    #tab_data.tab-pane.active
      - if @source_table_data.present?
        .pull-right.block
          #{@source_table_data.size} / #{@source_table_count} records

        %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
          %tr
            - @source_column_classes.each do |source_column_class|
              %th #{source_column_class.name} (#{source_column_class.sql_type})
          - @source_table_data.each do |row|
            %tr
              - row.each do |value|
                %td= value
      - else
        There is no linked source table.
    #tab_schema.tab-pane
      %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
        %tr
          %th Name
          %th Description
          %th Sql Type
          %th Default Value
          %th Nullable
        - @table_memo.column_memos.each do |column_memo|
          %tr
            %td
              = column_memo.name
              - unless column_memo.linked?
                %i.fa.fa-exclamation-triangle{ data: { toggle: "tooltip", placement: "bottom", title: "There is no linked source columns." } }
            %td
              = column_memo.description.truncate(30)
            %td
              = column_memo.sql_type
            %td
              = column_memo.default
            %td
              = column_memo.nullable
