- content_for :title, "User"
- content_for :header do
  .row.mb-2
    .col
      %h1.m-0.text-nowrap= @user.name

    .col
      %ol.breadcrumb.float-sm-right
        %li.breadcrumb-item
          = link_to root_path do
            %i.fas.fa-home
            Home
        %li.breadcrumb-item
          = link_to "Users", users_path
        %li.breadcrumb-item.active
          = @user.name

.card
  = render "form"
