- content_for :title, "#{@database_memo.name} « Database Log"
- content_for :header do
  %h1.page-header
    = @database_memo.name
    logs

  %ol.breadcrumb
    %li
      = link_to root_path do
        %i.fa-solid.fa-home
        Home
    %li
      = link_to @database_memo.name, database_memo_path(@database_memo.name)
    %li.active
      logs

%ul.timeline
  = render partial: "shared/description_log", collection: @database_memo_logs
