%aside.main-sidebar
  %section.sidebar
    .user-panel
      .pull-left.image
        = image_tag current_user.image_url, class: "img-rounded"
      .pull-left.info
        %p= current_user.name

    = form_for @search_result, method: :get, html: { class: "sidebar-form" } do |f|
      .input-group
        = f.text_field :keyword, placeholder: "Search...", class: "form-control"
        %span.input-group-btn
          %button#search-btn.btn.btn-flat{name: "search", type: "submit"}
            %i.fa.fa-search

    %ul.sidebar-menu
      %li
        = link_to root_path do
          %i.fa.fa-home
          Home
      %li
        = link_to users_path do
          %i.fa.fa-user
          User
      %li
        = link_to keywords_path do
          %i.fa.fa-book
          Keyword
      %li.treeview.active
        %a
          %i.fa.fa-database
          %span Database
          %i.fa.fa-angle-left.pull-right
        %ul.treeview-menu
          - @sidebar_databases.map(&:name).each do |name|
            %li
              = link_to name, database_memo_path(name)
