%nav.main-header.navbar.navbar-expand{ role: "navigation" }
  %ul.navbar-nav
    %li.nav-item
      = link_to "#", role: "button", class: "nav-link", "data-widget": "pushmenu" do
        %i.nav-icon.fas.fa-bars

  - if current_user
    %ul.navbar-nav.ml-auto
      %li.nav-item
        = link_to setting_path, class: "nav-link" do
          %i.nav-icon.fas.fa-gear
          %span.d-none.d-sm-inline
            Setting
      %li.nav-item
        = link_to edit_user_path(current_user), class: "nav-link" do
          %i.nav-icon.fas.fa-user
          %span.d-none.d-sm-inline
            = current_user.name
      %li.nav-item
        = link_to logout_path, method: :delete, class: "nav-link" do
          %i.nav-icon.fas.fa-arrow-right-from-bracket
          %span.d-none.d-sm-inline
            Sign-out
