%nav.navbar.navbar-static-top{ role: "navigation" }
  .navbar-custom-menu
    %ul.nav.navbar-nav
      - if current_user
        %li
          = link_to setting_path do
            %i.fa.fa-gear
            Setting
        %li
          = link_to edit_user_path(current_user) do
            %i.fa.fa-user
            = current_user.name
        %li
          = link_to logout_path, method: :delete do
            %i.fa.fa-sign-out
            Sign-out
      - else
        %li
          = link_to google_oauth2_path(state: request.fullpath) do
            %i.fa.fa-sign-in
            Sign-in
