.box
  .box-header.with-border
    %h2.box-title Data Sources

    - if current_user.admin?
      = link_to new_data_source_path, class: "btn btn-default btn-sm pull-right" do
        %i.fa.fa-plus
        Add Data Source
  .box-body
    %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
      %tr
        %th Name
        %th Description
        %th Host
        %th Port
        %th Database Name
        %th
      - @data_sources.each do |data_source|
        %tr
          %td
            = data_source.name
          %td
            = data_source.description.truncate(50)
          %td
            = data_source.host
          %td
            = data_source.port
          %td
            = data_source.dbname
          %td
            - if current_user.admin?
              = link_to edit_data_source_path(data_source) do
                %button.btn.btn-default
                  %i.fa.fa-edit
              = link_to data_source_path(data_source), method: :delete, data: { confirm: "Delete data source #{data_source.name}?" } do
                %button.btn.btn-default
                  %i.fa.fa-trash
              = form_tag data_source_synchronized_database_path(data_source.id), method: :patch, class: "inline" do
                %button.btn.btn-default
                  %i.fa.fa-refresh
