.box
  .box-header.with-border
    %h2.box-title Ignored Tables

    - if current_user.admin?
      = link_to new_ignored_table_path, class: "btn btn-default btn-sm pull-right" do
        %i.fa.fa-plus
        Add Ignored Table
  .box-body
    %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
      %tr
        %th Database
        %th Ignored table pattern
        %th
      - @ignored_tables.each do |ignored_table|
        %tr
          %td
            = ignored_table.data_source.name
          %td
            = ignored_table.pattern
          %td
            - if current_user.admin?
              = link_to ignored_table, method: :delete, data: { confirm: "Delete ignore table pattern #{ignored_table.pattern}" } do
                %button.btn.btn-default
                  %i.fa.fa-trash
