.box
  .box-header.with-border
    %h2.box-title Masked Data

    - if current_user.admin?
      = link_to new_masked_datum_path, class: "btn btn-default btn-sm pull-right" do
        %i.fa.fa-plus
        Add Masked Data
  .box-body
    %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
      %tr
        %th Database
        %th Table
        %th Column
        %th
      - @masked_data.each do |masked_datum|
        %tr
          %td
            = masked_datum.database_name
          %td
            = masked_datum.table_name
          %td
            = masked_datum.column_name
          %td
            - if current_user.admin?
              = link_to masked_datum_path(masked_datum), method: :delete, data: { confirm: "Delete masked_data #{masked_datum.pack}?" } do
                %button.btn.btn-default
                  %i.fa.fa-trash

