- content_for :header do
  %h1.page-header
    %span#name.editable-target= @database_memo.name
    %a.shorten_url_link{ href: "#", data: { target: "#shorten_url", toggle: "tooltip", placement: "bottom", title: "Show shorten url." } }
      %i.fa.fa-link
    = text_field_tag :shorten_url, shorten_url(@database_memo), class: "shorten_url input-sm hidden", size: 80

  - unless @database_memo.linked?
    .box.box-warning
      .box-header
        %h4
          %i.fa.fa-warning
          There is no linked source database.
      .box-body
        = link_to "Delete database information", @database_memo,
          method: :delete,
          class: "btn btn-lg btn-danger",
          data: { confirm: "Delete database #{@database_memo.name} information?" }

  %ol.breadcrumb
    %li
      = link_to root_path do
        %i.fa.fa-home
        Home
    %li.active
      = @database_memo.name

.memo_description.box.box-info.with-border
  .box-body
    = link_to_editable @database_memo, target: "#description", type: :textarea, name: "description", value: @database_memo.description, class: "pull-left"
    #description.editable-target
      - if @database_memo.description.present?
        = @database_memo.description
      - else
        = t("no_description")

.box
  .box-header.with-border
    %h2.box-title Tables

  .box-body
    %table.table.table-hover.table-bordered.table-striped{ role: "grid" }
      %tr
        %th Name
        %th Description
        %th Columns
      - @database_memo.table_memos.each do |table_memo|
        %tr
          %td
            = link_to table_memo.name, table_memo
            - unless table_memo.linked?
              %i.fa.fa-exclamation-triangle{ data: { toggle: "tooltip", placement: "bottom", title: "There is no linked source tables." } }
          %td
            = table_memo.description.truncate(30)
          %td
            = table_memo.column_memos.map(&:name).join(", ").truncate(300)
