= form_for @keyword, html: { class: "form" } do |f|
  .card
    .card-body
      .row
        .col-sm-6.form-group
          = f.label :name
          = f.text_field :name, class: "form-control", placeholder: "keyword", tabindex: 1
      .row
        .col-sm-6.form-group
          = f.label :description
          = f.text_area :description, rows: 20, class: "form-control markdown-editor", data: { target: ".description-preview" }, tabindex: 2
        .col-sm-6.form-group
          %label Preview
          .markdown-block.description-preview
            = @keyword.description_html
    .card-footer
      = f.submit class: "btn btn-primary", tabindex: 3
      - if @keyword.persisted?
        = link_to "Delete keyword", @keyword, class: "btn btn-danger float-right", method: :delete, data: { confirm: t(:delete_keyword, name: @keyword.name) }
