= form_with model: @masked_datum, local: true do |f|
  .card-body
    .form-group.row
      = f.label :database_name, class: "col-sm-2 col-form-label"
      .col-sm-10= f.select :database_name, @database_name_options, {}, class: "form-control"
    .form-group.row
      = f.label :table_name, class: "col-sm-2 col-form-label"
      .col-sm-10= f.text_field :table_name, class: "form-control", placeholder: "*"
    .form-group.row
      = f.label :column_name, class: "col-sm-2 col-form-label"
      .col-sm-10= f.text_field :column_name, class: "form-control", placeholder: "password"
  .card-footer
    = f.submit class: "btn btn-primary float-right"
