- content_for :title, "#{@table_memo.name} « Table Log"
- content_for :header do
  %h1.page-header
    = @table_memo.name
    logs

  %ol.breadcrumb
    %li
      = link_to root_path do
        %i.fa.fa-home
        Home
    %li
      = link_to @table_memo.database_memo.name, database_memo_path(@table_memo.database_memo.name)
    %li
      = link_to @table_memo.schema_memo.name, database_schema_path(@table_memo.database_memo.name, @table_memo.schema_memo.name)
    %li
      = link_to @table_memo.name, database_schema_table_path(@table_memo.database_memo.name, @table_memo.schema_memo.name, @table_memo.name)
    %li.active
      logs

%ul.timeline
  = render partial: "shared/description_log", collection: @table_memo_logs
