!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ content: "IE=edge", "http-equiv" => "X-UA-Compatible" }/
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/
    %title Database Memos
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      %header.main-header
        %a.logo{ href: root_path }
          %span.logo-mini
            %i.fa.fa-home
          %span.logo-lg
            %i.fa.fa-home
            %b> Database
            MEMO
        = render "/shared/navbar"

      = render "/shared/main_sidebar"

      .content-wrapper
        %section.content-header
          = yield(:header)
        %section.content
          = render "/shared/message"
          = yield

      %footer.main-footer
        = yield(:footer)
        .pull-right.hidden-xs
          %b Version
          = Dmemo::VERSION
        .clearfix
