!!!
/
  This is a starter template page. Use this page to start your new project from
  scratch. This page gets rid of all links and provides the needed markup only.
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ content: "IE=edge", "http-equiv" => "X-UA-Compatible" }/
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/
    %title Database Memos
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %link{ href: "https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css", rel: "stylesheet"}/
    %link{ href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css", rel: "stylesheet"}/
    / Ionicons
    %link{ href: "https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css", rel: "stylesheet"}/

  %body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      %header.main-header
        %a.logo{ href: root_path }
          %span.logo-mini
            %b> D
            MEMO
          %span.logo-lg
            %b> Database
            MEMO
        %nav.navbar.navbar-static-top{role: "navigation"}
          %a.sidebar-toggle{"data-toggle" => "offcanvas", href: "#", role: "button"}
            %span.sr-only Toggle navigation
          / Navbar Right Menu
          .navbar-custom-menu
            %ul.nav.navbar-nav
              / Messages: style can be found in dropdown.less
              %li.dropdown.messages-menu
                / Menu toggle button
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-envelope-o
                  %span.label.label-success 4
                %ul.dropdown-menu
                  %li.header You have 4 messages
                  %li
                    / inner menu: contains the messages
                    %ul.menu
                      %li
                        / start message
                        %a{:href => "#"}
                          .pull-left
                            / User Image
                            %img.img-circle{:alt => "User Image", :src => image_path("admin-lte/dist/img/user2-160x160.jpg") }/
                          / Message title and timestamp
                          %h4
                            Support Team
                            %small
                              %i.fa.fa-clock-o
                              5 mins
                          / The message
                          %p Why not buy a new awesome theme?
                      / end message

                  %li.footer
                    %a{:href => "#"} See All Messages

              / Notifications Menu
              %li.dropdown.notifications-menu
                / Menu toggle button
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-bell-o
                  %span.label.label-warning 10
                %ul.dropdown-menu
                  %li.header You have 10 notifications
                  %li
                    / Inner Menu: contains the notifications
                    %ul.menu
                      %li
                        / start notification
                        %a{:href => "#"}
                          %i.fa.fa-users.text-aqua
                          5 new members joined today
                      / end notification
                  %li.footer
                    %a{:href => "#"} View all
              / Tasks Menu
              %li.dropdown.tasks-menu
                / Menu Toggle Button
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-flag-o
                  %span.label.label-danger 9
                %ul.dropdown-menu
                  %li.header You have 9 tasks
                  %li
                    / Inner menu: contains the tasks
                    %ul.menu
                      %li
                        / Task item
                        %a{:href => "#"}
                          / Task title and progress text
                          %h3
                            Design some buttons
                            %small.pull-right 20%
                          / The progress bar
                          .progress.xs
                            / Change the css width attribute to simulate progress
                            .progress-bar.progress-bar-aqua{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "20", :role => "progressbar", :style => "width: 20%"}
                              %span.sr-only 20% Complete
                      / end task item
                  %li.footer
                    %a{:href => "#"} View all tasks
              / User Account Menu
              %li.dropdown.user.user-menu
                / Menu Toggle Button
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  / The user image in the navbar
                  %img.user-image{:alt => "User Image", :src => image_path("admin-lte/dist/img/user2-160x160.jpg") }/
                  / hidden-xs hides the username on small devices so only the image appears.
                  %span.hidden-xs Alexander Pierce
                %ul.dropdown-menu
                  / The user image in the menu
                  %li.user-header
                    %img.img-circle{:alt => "User Image", :src => image_path("admin-lte/dist/img/user2-160x160.jpg") }/
                    %p
                      Alexander Pierce - Web Developer
                      %small Member since Nov. 2012
                  / Menu Body
                  %li.user-body
                    .row
                      .col-xs-4.text-center
                        %a{:href => "#"} Followers
                      .col-xs-4.text-center
                        %a{:href => "#"} Sales
                      .col-xs-4.text-center
                        %a{:href => "#"} Friends

                  / Menu Footer
                  %li.user-footer
                    .pull-left
                      %a.btn.btn-default.btn-flat{:href => "#"} Profile
                    .pull-right
                      %a.btn.btn-default.btn-flat{:href => "#"} Sign out
              / Control Sidebar Toggle Button
              %li
                %a{"data-toggle" => "control-sidebar", :href => "#"}
                  %i.fa.fa-gears
      / Left side column. contains the logo and sidebar
      %aside.main-sidebar
        / sidebar: style can be found in sidebar.less
        %section.sidebar
          / Sidebar user panel (optional)
          .user-panel
            .pull-left.image
              %img.img-circle{:alt => "User Image", :src => image_path("admin-lte/dist/img/user2-160x160.jpg") }/
            .pull-left.info
              %p Alexander Pierce
              / Status
              %a{:href => "#"}
                %i.fa.fa-circle.text-success
                Online
          / search form (Optional)
          %form.sidebar-form{:action => "#", :method => "get"}
            .input-group
              %input.form-control{:name => "q", :placeholder => "Search...", :type => "text"}/
              %span.input-group-btn
                %button#search-btn.btn.btn-flat{:name => "search", :type => "submit"}
                  %i.fa.fa-search

          / Sidebar Menu
          %ul.sidebar-menu
            %li.header HEADER
            / Optionally, you can add icons to the links
            %li.active
              %a{:href => "#"}
                %i.fa.fa-link
                %span Link
            %li
              %a{:href => "#"}
                %i.fa.fa-link
                %span Another Link
            %li.treeview
              %a{:href => "#"}
                %i.fa.fa-link
                %span Multilevel
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                %li
                  %a{:href => "#"} Link in level 2
                %li
                  %a{:href => "#"} Link in level 2

      .content-wrapper
        / Content Header (Page header)
        %section.content-header
          = yield(:header)
        %section.content
          = yield

      %footer.main-footer
        = yield(:footer)

      %aside.control-sidebar.control-sidebar-dark
        / Create the tabs
        %ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#control-sidebar-home-tab"}
              %i.fa.fa-home
          %li
            %a{"data-toggle" => "tab", :href => "#control-sidebar-settings-tab"}
              %i.fa.fa-gears
        / Tab panes
        .tab-content
          / Home tab content
          #control-sidebar-home-tab.tab-pane.active
            %h3.control-sidebar-heading Recent Activity
            %ul.control-sidebar-menu
              %li
                %a{:href => "javascript::;"}
                  %i.menu-icon.fa.fa-birthday-cake.bg-red
                  .menu-info
                    %h4.control-sidebar-subheading Langdon's Birthday
                    %p Will be 23 on April 24th

            %h3.control-sidebar-heading Tasks Progress
            %ul.control-sidebar-menu
              %li
                %a{:href => "javascript::;"}
                  %h4.control-sidebar-subheading
                    Custom Template Design
                    %span.label.label-danger.pull-right 70%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-danger{:style => "width: 70%"}


          / Stats tab content
          #control-sidebar-stats-tab.tab-pane Stats Tab Content

          / Settings tab content
          #control-sidebar-settings-tab.tab-pane
            %form{:method => "post"}
              %h3.control-sidebar-heading General Settings
              .form-group
                %label.control-sidebar-subheading
                  Report panel usage
                  %input.pull-right{:checked => "checked", :type => "checkbox"}/
                %p
                  Some information about this general settings option



      /
        Add the sidebar's background. This div must be placed
        immediately after the control sidebar
      .control-sidebar-bg
    / ./wrapper
    -#/ REQUIRED JS SCRIPTS
    -#/ jQuery 2.2.0
    -#%script{:src => "plugins/jQuery/jQuery-2.2.0.min.js"}
    -#/ Bootstrap 3.3.6
    -#%script{:src => "bootstrap/js/bootstrap.min.js"}
    -#/ AdminLTE App
    -#%script{:src => "dist/js/app.min.js"}
    /
      Optionally, you can add Slimscroll and FastClick plugins.
      Both of these plugins are recommended to enhance the
      user experience. Slimscroll is required when using the
      fixed layout.
