!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ content: "IE=edge", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}
    %title Database Memos
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      %header.main-header
        %a.logo{ href: root_path }
          %span.logo-mini
            %i.icon.ion-home
          %span.logo-lg
            %i.icon.ion-home
            %b> Database
            MEMO
        %nav.navbar.navbar-static-top{ role: "navigation" }
          %a.sidebar-toggle{"data-toggle" => "offcanvas", href: "#", role: "button"}
            %span.sr-only Toggle navigation

          .navbar-custom-menu
            %ul.nav.navbar-nav
              %li
                %a{ href: "#" }
                  %i.fa.fa-sign-out
                  Sign-out

      %aside.main-sidebar
        %section.sidebar
          .user-panel
            - if @current_user
              .pull-left.image
                %img.img-circle{ src: @current_user.image_url }
              .pull-left.info
                %p= @current_user.name

          %form.sidebar-form{:action => "#", :method => "get"}
            .input-group
              %input.form-control{:name => "q", :placeholder => "Search...", :type => "text"}/
              %span.input-group-btn
                %button#search-btn.btn.btn-flat{:name => "search", :type => "submit"}
                  %i.fa.fa-search

          %ul.sidebar-menu
            %li
              = link_to root_path do
                %i.fa.fa-home
                Home
            %li.treeview.active
              %a
                %i.fa.fa-link
                %span Databases
                %i.fa.fa-angle-left.pull-right
              %ul.treeview-menu
                - @database_memos.each do |database_memo|
                  %li= link_to database_memo.name, database_memo

      .content-wrapper
        %section.content-header
          = yield(:header)
        %section.content
          = yield

      %footer.main-footer
        = yield(:footer)
