!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ content: "IE=edge", "http-equiv" => "X-UA-Compatible" }/
    %meta{ content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", name: "viewport"}/
    %title
      = yield(:title)
    = stylesheet_pack_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    = csrf_meta_tags
    = favicon_override

  %body.skin-blue.sidebar-mini
    .wrapper
      = render "/shared/main_header"

      = render "/shared/main_sidebar"

      .content-wrapper
        %section.content-header
          .container-fluid
            = yield(:header)
        %section.content
          = render "/shared/message"
          = yield

      %footer.main-footer
        = yield(:footer)
        .float-right.d-none.d-sm-inline
          %b Version
          = Dmemo::VERSION
        .clearfix
